<section id="todoapp" class="section">
    <header class="header">
        <div layout="row" layout-align="center center">
            <h1 class="md-display-1">Order meal</h1>
        </div>
        <div layout="row" layout-align="center center" class="md-padding">
            <form flex id="todo-form" ng-submit="orderService.addOrder()">
                <input class="width--100" id="new-order" type="text" placeholder="What You will to order ?" ng-model="orderService.getNewOrder().title" autofocus>
            </form>
        </div>
    </header>
    <section ng-show="orderService.orders.length" class="md-padding" ng-cloak>
            <div id="filters" layout="row" layout-align="center center">
                <md-button ng-class="{'md-raised btn--gray': status === ''}" ng-class="{selected: status === ''}" ng-href="#/" >All</md-button>
                <md-button ng-class="{'md-raised btn--gray': status === 'active'}" ng-class="{selected: status === 'active'}" ng-href="#/active"">Active</md-button>
                <md-button ng-class="{'md-raised btn--gray': status === 'completed'}" ng-class="{selected: status === 'completed'}" ng-href="#/completed">Completed</md-button>
            </div>
            <div id="todo-list" class="md-padding">
                <md-checkbox ng-model="isAllCompleted"
                             ng-click="orderService.markAll(isAllCompleted)"
                             ng-change="isAllCompleted = !isAllCompleted">
                    <span ng-show="isAllCompleted">Un-</span>Select All
                </md-checkbox>
                <md-list>
                    <md-list-item ng-repeat="order in orderService.orders | filter:statusFilter track by $index">
                        <md-checkbox ng-attr-id="{{ 'order-' + $index }}"
                                     ng-model="order.completed"
                                     ng-change="orderService.updateOrder(order)"
                                     ng-disabled="order.isEditMode"
                                     class="green">
                        </md-checkbox>
                        <div ng-if="!order.isEditMode">
                            <p>{{order.title}}</p>
                        </div>
                        <div ng-if="order.isEditMode" layout="row">
                            <form flex ng-submit="orderService.saveEdits($event, order)">
                                <input class="width--100" for="order.id" ng-trim="false"
                                       type="text"
                                       ng-model="order.title"
                                       todo-escape="orderService.revertEdits(order)"
                                       ng-blur="orderService.saveEdits($event, order)"
                                       autofocus
                                       ng-disabled="!order.isEditMode">
                            </form>
                        </div>
                        <div ng-show="order.isEditMode" class="md-secondary">
                            <md-icon class="material-icons" ng-click="orderService.saveEdits($event, order)">done</md-icon>
                            <md-icon class="material-icons" ng-click="orderService.revertEdits($event, order)">clear</md-icon>
                        </div>
                        <div ng-show="!order.isEditMode" class="md-secondary">
                            <md-icon class="material-icons" ng-click="orderService.editOrder($event, order)">mode_edit</md-icon>
                            <md-icon class="material-icons" ng-click="orderService.removeOrder(order)">delete</md-icon>
                        </div>
                    </md-list-item>
                </md-list>
            </div>
            <div layout="column" class="md-padding" layout-align="center center" ng-show="orderService.orders.length" ng-cloak>
                <div flex>
                    <strong>{{remainingCount}}</strong>
                    <ng-pluralize count="remainingCount" when="{ one: 'item left', other: 'items left' }"></ng-pluralize>
                </div>
                <div flex>
                    <md-button id="clear-completed" class="btn--pink md-raised" ng-click="orderService.clearCompletedOrders()" ng-disabled="!completedCount">Clear completed</md-button>
                </div>
            </div>
    </section>
</section>
<footer id="info">
    <div layout="row" layout-align="center">
        <p>Create by @migacz1125</p>
    </div>
</footer>