<section id="todoapp" class="section">
    <div ui-view="top"></div>

    <section ng-show="OrderListCtrl.orders.length" class="md-padding" ng-cloak>
        <div id="filters" layout="row" layout-align="center center">
            <md-button ng-class="{'md-raised btn--gray': OrderListCtrl.status === ''}"
                       ng-class="{selected: OrderListCtrl.status === ''}"
                       ui-sref=".list" >All
            </md-button>
            <md-button ng-class="{'md-raised btn--gray': OrderListCtrl.isActiveTap()}"
                       ng-class="{selected: OrderListCtrl.isActiveTap()}"
                       ui-sref=".active({status: 'active'})">Active
            </md-button>
            <md-button ng-class="{'md-raised btn--gray': OrderListCtrl.isCompletedTap()}"
                       ng-class="{selected: OrderListCtrl.isCompletedTap()}"
                       ui-sref=".completed({status: 'completed'})">Completed
            </md-button>
        </div>
        <div ui-view></div>
    </section>
    <footer id="info">
        <div layout="row" layout-align="center">
            <p>Create by @migacz1125</p>
        </div>
    </footer>
</section>