<section id="loginApp" class="section">
    <header class="header">
        <div layout="row" layout-align="center center">
            <h1 class="md-display-1">Takeaway App</h1>
        </div>
    </header>
    <section class="md-padding" ng-cloak>
        <div id="login-form" layout="row" layout-align="center center">
            <md-button class="md-raised" ng-click="LoginCtrl.authenticate('github')" aria-label="Sign in with GitHub">
                <i class="fa fa-github" aria-hidden="true"></i>
                Sign in with GitHub
            </md-button>
        </div>
    </section>
    <footer id="info">
        <div layout="row" layout-align="center">
            <p>Create by @migacz1125</p>
        </div>
    </footer>
</section>