<div>
    <div id="todo-list" class="md-padding">
        <md-checkbox ng-model="OrderListCtrl.isAllCompleted"
                     ng-click="OrderListCtrl.orderService.markAll(OrderListCtrl.isAllCompleted)"
                     ng-change="OrderListCtrl.isAllCompleted = !OrderListCtrl.isAllCompleted">
            <span ng-show="OrderListCtrl.isAllCompleted">Un-</span>Select All
        </md-checkbox>
        <md-list>
            <md-list-item ng-repeat="order in OrderListCtrl.orders | filter:OrderListCtrl.statusFilter track by $index">
                <md-checkbox ng-attr-id="{{ 'order-' + $index }}"
                             ng-model="order.completed"
                             ng-change="OrderListCtrl.orderService.updateOrder(order)"
                             class="green">
                </md-checkbox>
                <img alt="{{ person.name }}" ng-src="{{ order.userAvatar }}" class="md-avatar" />
                <p>{{order.title}} - {{order.price}} zł</p>
                <md-icon class="material-icons" ng-click="OrderListCtrl.orderService.removeOrder(order)">delete</md-icon>
            </md-list-item>
        </md-list>
    </div>
    <div layout="column" class="md-padding" layout-align="center center" ng-show="OrderListCtrl.orders.length" ng-cloak>
        <div flex>
            <strong>{{OrderListCtrl.remainingCount}}</strong>
            <ng-pluralize count="OrderListCtrl.remainingCount" when="{ one: 'item left', other: 'items left' }"></ng-pluralize>
        </div>
        <div flex>
            <md-button id="clear-completed" class="btn--pink md-raised" ng-click="OrderListCtrl.orderService.clearCompletedOrders()" ng-disabled="!OrderListCtrl.completedCount">Clear completed</md-button>
        </div>
    </div>
</div>